// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main {
  width: calc(100% - 80px);
  overflow: hidden;
  height: 100vh;
  float: left;

  .body {
    width: calc(100% - 250px);
    height: calc(100% - 35px);
    margin: 20px 0 20px 20px;
    background-color: $gray;
    padding: 50px 30px;
    //overflow-y: scroll;
    float: left;

    [class^="branch-container-"] {
      display: none;

      &.active {
        display: block;
      }
    }

    .branch-id {
      color: $navy;
    }

    .branch-total-revenue {
      float: right;
    }

    .small {
      font-size: 14px;
    }

    .infographics {
      justify-content: space-between;
      flex-direction: row;
      margin-top: 30px;
      display: flex;

      > div {
        width: calc((100% / 2) - 20px);
      }
    }
  }

  .right-nav {
    margin: 20px 0;
    width: 200px;
    height: 50px;
    float: left;

    .nav-tab {
      padding: 10px 10px 10px 20px;
      background-color: $gray;
      margin: 10px 0 0 0;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        opacity: 0.5;
      }

      &.new {
        border: 3px dashed $gray;
        background: #ffffff;
        border-left: 0px;
      }
    }
  }

}