// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main {
  width: calc(100% - 80px);
  overflow: hidden;
  height: 100vh;
  float: left;

  .body {
    width: calc(100% - 250px);
    height: calc(100% - 35px);
    margin: 20px 0 20px 20px;
    background-color: $gray;
    padding: 50px 30px;
    overflow-y: scroll;

    .branch-id {
      color: $navy;
    }

    .small {
      font-size: 14px;
    }

    .infographics {
      justify-content: space-between;
      flex-direction: row;
      margin-top: 30px;
      display: flex;

      > div {
        width: calc((100% / 2) - 20px);
      }
    }
  }

  .right-nav {

  }

}