@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers',
  'base/reset';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/sidebar',
  'layout/footer';

// 6. Page-specific styles
@import
  'pages/home';
